.outcreate {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    position: relative;
    background-image: url("/img/login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: black;
}
