.flash{
    user-select: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.132);
    position: fixed;
    top:30px;
    padding:8px 16px;
    z-index: 100;
    border-radius: 10px;
    font-size: 13px;
    
    animation: topx .5s ease-in-out forwards;
}
@keyframes topx {
    0%{
        top:-100px;
    }
    75%{
        top:40px
    }
    100%{
        top:30px;
    }
}